/* Define the @font-face rule */
@font-face {
    font-family: 'Tenorite';
    src: url('assets/fonts/regular.ttf') format('truetype'); /* Replace '/path/to/tenorite.ttf' with the actual path to your font file */
    font-weight: normal;
    font-style: normal;
}

/* Use the Tenorite font for the body */
body {
    font-family: 'Tenorite', sans-serif; /* Use 'Tenorite' font as the fallback if it's not available */
}
